@tailwind base;
@tailwind components;
@tailwind utilities;

@layer components {

    /* Firefox scrollbars */
    .smallscroll {
        --sb-width: 8px;
        scrollbar-color: #666b7a transparent;
        scrollbar-width: thin;
    }

    /* Chrome scrollbars */
    .smallscroll::-webkit-scrollbar {
        width: var(--sb-width);
        height: var(--sb-width);
        background-color: transparent;
    }

    .smallscroll::-webkit-scrollbar-thumb {
        background-color: #666b7a;
    }
}

body {
    background-color: red;
}

.debug * { outline: 1px solid orange; }
