@tailwind base;
@tailwind components;
@tailwind utilities;

/* .container {
    display: grid;
    grid-gap: .4em;
    grid-template-columns: repeat(auto-fit, minmax(200px, 1fr));
    background-color: red;
    justify-items: center;
}

.container video {
    max-width: 200px;
    max-height: 200px;
} */
