@tailwind base;
@tailwind components;
@tailwind utilities;

@layer components {
/* 
    .btn {
        @apply px-2 py-1
            text-sm leading-normal
            border rounded-sm
            bg-gray-200 text-gray-900 border-gray-500
            hover:bg-gray-300
            focus:outline-none
            active:scale-105
            transform
            focus:ring-offset-2
            focus:ring-2
            select-none;
    }
 */
    /* Firefox scrollbars */
    .smallscroll {
        --sb-width: 8px;
        scrollbar-color: #666b7a transparent;
        scrollbar-width: thin;
    }

    /* Chrome scrollbars */
    .smallscroll::-webkit-scrollbar {
        width: var(--sb-width);
        height: var(--sb-width);
        background-color: transparent;
    }

    .smallscroll::-webkit-scrollbar-thumb {
        background-color: #666b7a;
    }
}

body {
    background-color: red;
}

.debug * { outline: 1px solid orange; }
